body
{
	margin: 0px;
	background: #34495E;
}

a:link
{
	text-decoration:none
}

#menu
{
	display: inline-block;
	background-color: #FFFFFF;
	width: 100%;
	height: 90px;
	margin: 0;
	padding: 0;
}

#menu2
{
	display: inline-block;
	background-color: #7FB3D5;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
}

#corps
{
	text-align: center;
	min-width: 700px;
}

#logo
{
	display: inline-block;
	cursor: pointer;
	width: 150px;
	height: 80px;
}

#user
{
	display: inline-block;
	float: right;
	cursor: pointer;
	width: 200px;
	height: 80px;
}

#sub
{
	display: inline-block;
	float: right;
	cursor: pointer;
	width: 160px;
	height: 80px;
}

#panier
{
	display: inline-block;
	float: right;
	cursor: pointer;
	width: 80px;
	height: 80px;
}

.ctgr
{
	display: inline;
	font-size: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-right: 15px;
	padding-left: 15px;
}

.change:hover .ctgr
{
	display: inline;
	font-size: 35px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #2980B9;
	cursor: pointer;
}

.imgbody
{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.title
{
	margin-top: 20px;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 50px;
}

.product
{
	display: inline-block;
	margin-top: 20px;
	width: 300px;
	height: 200px;
}

.cate
{
	margin-top: 30px;
	font-size: 40px;
	color: white;
}

.descrp
{
	font-size: 20px;
	color : white;
}

#panier2
{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#sub_box {
	margin: 25px auto;
	padding-bottom: 15px;
	background-color: whitesmoke;
	border-radius: 2%;
	width: 25%;
	text-align: center;
	border: solid;
}

#log_box {
	margin: 25px auto;
	padding-bottom: 15px;
	background-color: whitesmoke;
	border-radius: 2%;
	width: 25%;
	text-align: center;
	border: solid;
}

#logout {
	display: inline-block;
	float: right;
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
